/* Write your CSS here */
.active-btn {
  border: 1px solid #0284c7;
  border-radius: 8px;
  color: #0284c7;
  padding: 10px;
  cursor: pointer;
  outline: none;
}

.normal-btn {
  border: none;
  cursor: pointer;
  outline: none;
}
